---
layout: default
title: 'Sliim - Personal Portfolio'
description: ''
keywords: ''
bodyClass: 'index dark'
---

    <!-- Preloader Start -->
    {% include preloader.html %}
    <!-- Preloader Ends -->
    <!-- Transition Block Starts -->
    <div id="transitionblock"></div>
    <!-- Transition Block Ends -->
    <!-- Desktop Menu Starts -->
    {% include navigation.html %}
    <!-- Desktop Menu Ends -->
    <!-- Sections Starts -->
    <!-- Home Section Starts -->
    {% include sections/home.html %}
    <!-- Home Section Ends -->
    <!-- About Section Starts -->
    {% include sections/about.html %}
    <!-- About Section Ends -->
    <!-- Portfolio Section Starts -->
    {% include sections/work.html %}
    <!-- Portfolio Section Ends -->
    <!-- Contact Section Starts -->
    {% include sections/contact.html %}
    <!-- Contact Section Ends -->
    <!-- Blog Section Starts -->
    {% include sections/blog.html %}
    <!-- Blog Section Ends -->
    <!-- Sections Ends -->
