<div class="section about-section" id="about" data-include="sections/about">
    <div id="about-content">
        <!-- Heading Starts -->
        <div class="heading text-left text-md-center">
            <h2>
                {{ site.about.title }}
            </h2>
        </div>
        <!-- Heading Ends -->
        <!-- Personal Infos Starts -->
        <div class="container infos">
            <div class="row infos-holder align-items-center">
                <div class="col-12 col-lg-5">
                    <img class="img-fluid d-block photo" src="{{ site.about.author_image | relative_url }}" alt="">
                </div>
                <div class="col-12 col-lg-7">
                    <p class="m-0">
                        {{ site.about.description }}
                    </p>
                    <div class="row text-nowrap">
                        <div class="d-flex col-12 col-sm-6 personal-list-container personal-list-container-1">
                            <ul class="list-unstyled personal-info w-100">
                                <li>
                                    <p><span class="material-icons">cake</span><span>Birthdate : </span>{{ site.about.birthdate }}</p>
                                </li>
                                <li>
                                    <p><span class="material-icons">flag</span><span>Nationality : </span>{{ site.about.nationality }}</p>
                                </li>
                                <li>
                                    <p><span class="material-icons">settings</span><span>Experience : </span>{{ site.about.experience }}</p>
                                </li>
                            </ul>
                        </div>
                        <div class="d-flex col-12 col-sm-6 personal-list-container personal-list-container-2">
                            <ul class="list-unstyled personal-info w-100">
                                <li>
                                    <p><span class="material-icons">call</span><span>Phone : </span>{{ site.about.phone }}</p>
                                </li>
                                <li>
                                    <p><span class="material-icons">location_on</span><span>Address : </span>{{ site.about.address }}</p>
                                </li>
                                <li>
                                    <p><span class="material-icons">email</span><span>Email : </span>{{ site.about.email }}</p>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Download CV Starts -->
                    <a href="{{ site.about.download-cv_link }}" class="btn main-btn"><span>{{ site.about.download-cv_text }}</span></a>
                    <!-- Download CV Ends -->
                </div>

            </div>
        </div>
        <!-- Personal Infos Ends -->
        <!-- Resume Starts -->
        <div class="w-100 resume">
            <div class="container">
                <div class="row">
                    <div class="col-12 pl-0">
                        <h4 class="subtitle text-center">{{ site.resume.title }}</h4>
                    </div>
                    <div class="resume-header">
                        <p class="active" id="experience">{{ site.resume.experience-text }}</p>
                        <p id="education">{{ site.resume.education-text }}</p>
                    </div>
                    <div class="col-12 resume-holder">
                        <!-- Experience Starts -->
                        <div id="experiencecarousel" class="owl-carousel owl-theme visiblecarousel">
                            {%- for exp in site.experiences -%}
                            <!-- Experience Item Starts -->
                            <div class="resume-item item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">{{ exp.title }}</h5>
                                    <h6 class="mb-0">{{ exp.date }}</h6>
                                </div>
                                <span class="company d-inline-block mb-2">{{ exp.company }}</span>
                                <p>{{ exp.description }}</p>
                            </div>
                            <!-- Experience Item Ends -->
                            {%- endfor -%}
                        </div>
                        <!-- Experience Ends -->
                        <!-- Education Starts -->
                        <div id="educationcarousel" class="owl-carousel owl-theme hiddencarousel">
                            {%- for item in site.education_history -%}
                            <!-- Education Item Starts -->
                            <div class="resume-item item">
                                <div class="d-flex align-items-center justify-content-between">
                                    <h5 class="mb-0">{{ item.title }}</h5>
                                    <h6 class="mb-0">{{ item.date }}</h6>
                                </div>
                                <span class="company d-inline-block mb-2">{{ item.institute }}</span>
                                <p>{{ item.description }}</p>
                            </div>
                            <!-- Education Item Ends -->
                            {%- endfor -%}
                        </div>
                        <!-- Education Ends -->
                    </div>
                </div>
            </div>
        </div>
        <!-- Resume Ends -->
        <div class="badges">
            <div class="container">
                <div class="row text-center">
                    <!-- Fact Badge Item Starts -->
                    <div class="col-12 col-md-4">
                        <span class="material-icons">cases</span>
                        <h3>{{site.experience_short_info.experience}}</h3>
                        <p>Years Experience</p>
                    </div>
                    <!-- Fact Badge Item Ends -->
                    <!-- Fact Badge Item Starts -->
                    <div class="col-12 col-md-4">
                        <span class="material-icons">thumb_up</span>
                        <h3>{{site.experience_short_info.projects}}</h3>
                        <p>done projects</p>
                    </div>
                    <!-- Fact Badge Item Ends -->
                    <!-- Fact Badge Item Starts -->
                    <div class="col-12 col-md-4">
                        <span class="material-icons">favorite</span>
                        <h3>{{site.experience_short_info.customers}}</h3>
                        <p>happy customers</p>
                    </div>
                    <!-- Fact Badge Item Ends -->
                </div>
            </div>
        </div>
        <!-- Fun Facts Ends -->
        <!-- Skills Starts -->
        <div class="container skills">
            <div class="row">
                <div class="col-12">
                    <h4 class="subtitle">
                        <!--<span class="material-icons">download_done</span>-->
                        My skills</h4>
                </div>
                {%- for item in site.skills -%}
                <!-- Skill Bar Starts -->
                <div class="col-12 col-md-6">
                    <span class="skill-text">{{ item.name }}</span>
                    <div class="chart-bar">
                        <span class="item-progress" data-percent="{{ item.percent }}" style="width: {{ item.percent }}%;"></span>
                        <span class="percent" style="right: {{ 100 | minus: item.percent }}%;">{{ item.percent }}%<span class="arrow"></span></span>
                    </div>
                </div>
                <!-- Skill Bar Ends -->
                {%- endfor -%}
                
            </div>
        </div>
        <!-- Skills Ends -->
        <!-- Fun Facts Starts -->
    </div>
</div>