<div class="section contact-section" id="contact" data-include="sections/contact">
    <div id="contact-content">
        <!-- Heading Starts -->
        <div class="heading text-left text-md-center">
            <h2>{{ site.contact.title }}</h2>
        </div>
        <!-- Heading Ends -->
        <div class="container">
            <!-- Contact Boxes Starts -->
            <div class="row boxes">
                <!-- Contact Box Item Starts -->
                <div class="col-12 col-lg-4">
                    <div class="box">
                        <span class="material-icons">call</span>
                        <p>{{ site.contact.phone }}</p>
                    </div>
                </div>
                <!-- Contact Box Item Ends -->
                <!-- Contact Box Item Starts -->
                <div class="col-12 col-lg-4">
                    <div class="box">
                        <span class="material-icons">email</span>
                        <p>{{site.contact.email}}</p>
                    </div>
                </div>
                <!-- Contact Box Item Ends -->
                <!-- Contact Box Item Starts -->
                <div class="col-12 col-lg-4">
                    <div class="box last-box">
                        <span class="material-icons">location_on</span>
                        <p>{{ site.contact.location_on }}</p>
                    </div>
                </div>
                <!-- Contact Box Item Ends -->
            </div>
            <!-- Contact Boxes Ends -->
            <div class="separator"></div>
            <!-- Contact Form Starts -->
            <div class="row">
                <div class="col-12 col-lg-4 leftside">
                    <div>
                        <h4 class="mb-0">{{ site.contact.tagline }}</h4>
                        <p>{{ site.contact.description }}</p>
                    </div>
                    <div>
                        <h4>follow me</h4>
                        <!-- Social Media Starts -->
                        <ul class="social list-unstyled mb-5 mb-lg-0 p-0 d-flex">
                            {%- for social in site.socials -%}
                            <li class="{{ social.name }}"><a title="{{ social.name }}" href="{{ social.link }}"><i class="fa fa-{{ social.name }}"></i></a></li>
                            {%- endfor -%}
                        </ul>
                        <!-- Social Media Ends -->
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    <form class="formcontact" method="post" action="https://formspree.io/f/{{site.formspree_id}}">
                        <div class="row contactform">
                            <div class="col-12 col-md-4">
                                <input type="text" name="name" placeholder="YOUR NAME" autocomplete="off">
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="text" name="name" placeholder="SUBJECT" autocomplete="off">
                            </div>
                            <div class="col-12 col-md-4">
                                <input type="email" name="email" placeholder="YOUR EMAIL" autocomplete="off">
                            </div>
                            <div class="col-12">
                                <textarea name="message" placeholder="YOUR MESSAGE"></textarea>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="btn main-btn"><span>Send Message</span></button>
                            </div>
                            <div class="col-12 form-message d-none">
                                <span class="output_message text-center text-uppercase"></span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <!-- Contact Boxes Ends -->
        </div>
    </div>
</div>