<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include seo.html %}
    <!-- Material Icons Font -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <!-- Template Google Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=Playfair+Display:wght@400;500;600;700;800;900&display=swap" rel="stylesheet">

    <!-- Template CSS Files -->
    <link rel="stylesheet" href="{{ 'css/bootstrap.min.css' | relative_url }}">
    <link rel="stylesheet" href="{{ 'css/simplebar.min.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ 'css/font-awesome.min.css' | relative_url }}" />
    <link rel="stylesheet" type="text/css" href="{{ 'css/owl.carousel.min.css' | relative_url }}" />
    <link rel="stylesheet" type="text/css" href="{{ 'css/owl.theme.default.min.css' | relative_url }}" />
    <link rel="stylesheet" href="{{ 'css/style.css' | relative_url }}">

    <!-- CSS Skin File -->
    <link rel="stylesheet" href="{{ 'css/skins/deeporange.css' | relative_url }}">

    <!-- Live Style Switcher - demo only -->
    <link rel="alternate stylesheet" type="text/css" title="amber" href="{{ 'css/skins/amber.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="blue" href="{{ 'css/skins/blue.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="brown" href="{{ 'css/skins/brown.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="cyan" href="{{ 'css/skins/cyan.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="deeporange" href="{{ 'css/skins/deeporange.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="deeppurple" href="{{ 'css/skins/deeppurple.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="green" href="{{ 'css/skins/green.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="grey" href="{{ 'css/skins/grey.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="indigo" href="{{ 'css/skins/indigo.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="lightblue" href="{{ 'css/skins/lightblue.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="pink" href="{{ 'css/skins/pink.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="purple" href="{{ 'css/skins/purple.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="red" href="{{ 'css/skins/red.css' | relative_url }}" />
    <link rel="alternate stylesheet" type="text/css" title="teal" href="{{ 'css/skins/teal.css' | relative_url }}" />
    <link rel="stylesheet" type="text/css" href="{{ 'css/styleswitcher.css' | relative_url }}" />

    <!-- Modernizr JS File -->
    <script src="{{ 'js/modernizr.js' | relative_url }}"></script>
</head>
