
<script src="{{ 'js/modernizr.js' | relative_url }}"></script>
<script src="{{ 'js/jquery-3.6.0.js' | relative_url }}"></script>
<script src="{{ 'js/simplebar.min.js' | relative_url }}"></script>
<script src="{{ 'js/bootstrap.min.js' | relative_url }}"></script>
<script src="{{ 'js/imagesloaded.pkgd.min.js' | relative_url }}"></script>
<script src="{{ 'js/masonry.pkgd.min.js' | relative_url }}"></script>
<script src="{{ 'js/classie.js' | relative_url }}"></script>
<script src="{{ 'js/main_portfolio.js' | relative_url }}"></script>
<script src="{{ 'js/owl.carousel.min.js' | relative_url }}"></script>
<script src="{{ 'js/custom.js' | relative_url }}"></script>
<script src="{{ 'js/styleswitcher.js' | relative_url }}"></script>