<!-- Live Style Switcher Starts - demo only -->
<div id="switcher" class="" data-include="switcher">
    <div class="content-switcher">
        <h4>COLOR SWITCHER</h4>
        <ul>
            <li>
                <a href="#" onclick="setActiveStyleSheet('amber');" title="amber" class="color"><img src="{{ 'images/styleswitcher/amber.png' | relative_url }}" alt="amber"></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('blue');" title="blue" class="color"><img src="{{ 'images/styleswitcher/blue.png' | relative_url }}" alt="blue"></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('brown');" title="brown" class="color"><img src="{{ 'images/styleswitcher/brown.png' | relative_url }}" alt="brown"></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('cyan');" title="cyan" class="color"><img src="{{ 'images/styleswitcher/cyan.png' | relative_url }}" alt="cyan"></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('deeporange');" title="deeporange" class="color"><img src="{{ 'images/styleswitcher/deeporange.png' | relative_url }}" alt="deeporange"></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('deeppurple');" title="deeppurple" class="deeppurple"><img src="{{ 'images/styleswitcher/deeppurple.png' | relative_url }}" alt="deeppurple"></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('green');" title="green" class="color"><img src="{{ 'images/styleswitcher/green.png' | relative_url }}" alt="green"></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('grey');" title="grey" class="color"><img src="{{ 'images/styleswitcher/grey.png' | relative_url }}" alt="grey"></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('indigo');" title="indigo" class="color"><img src="{{ 'images/styleswitcher/indigo.png' | relative_url }}" alt="indigo"></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('lightblue');" title="lightblue" class="color"><img src="{{ 'images/styleswitcher/lightblue.png' | relative_url }}" alt="lightblue"></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('pink');" title="pink" class="color"><img src="{{ 'images/styleswitcher/pink.png' | relative_url }}" alt="pink"></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('purple');" title="purple" class="color"><img src="{{ 'images/styleswitcher/purple.png' | relative_url }}" alt="purple"></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('red');" title="red" class="color"><img src="{{ 'images/styleswitcher/red.png' | relative_url }}" alt="red"></a>
            </li>
            <li>
                <a href="#" onclick="setActiveStyleSheet('teal');" title="teal" class="color"><img src="{{ 'images/styleswitcher/teal.png' | relative_url }}" alt="teal"></a>
            </li>
        </ul>
        <hr>
        <h4>BODY SKIN</h4>

        <label><input class="dark_switch" type="radio" name="color_style" id="is_dark" value="dark" checked> Dark</label>
        <label><input class="dark_switch" type="radio" name="color_style" id="is_light" value="light"> Light</label>

        <div id="hideSwitcher">×</div>
    </div>
</div>
<div id="showSwitcher" class="styleSecondColor"><i class="fa fa-cog fa-spin"></i></div>
<!-- Live Style Switcher Ends - demo only -->