
<!-- Animated Background Starts -->
<ul class="circles">
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
</ul>
<!-- Animated Background Ends -->
<!-- Background Dotted Pattern Starts -->
<div class="right-dotted-shape"></div>
<!-- Background Dotted Pattern Ends -->
<!-- Home Main Content Starts -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="hero-section d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <h2>{{ site.home.athor_name }}</h2>
                    <p>{{ site.home.description }}</p>
                    <div class="buttons">
                        <a id="link-about" href="#about" class="btn main-btn link-page"><span>{{ site.home.button_text }}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Home Main Content Ends -->
<!-- Social Media Starts -->
<div class="home-social d-none d-sm-block">
    <ul class="social list-unstyled d-flex m-0">
        <li class="facebook"><a title="Facebook" href="#"><i class="fa fa-facebook"></i></a>
        </li>
        <li class="twitter"><a title="Twitter" href="#"><i class="fa fa-twitter"></i></a>
        </li>
        <li class="linkedin"><a title="Linkedin" href="#"><i class="fa fa-linkedin"></i></a>
        </li>
        <li class="dribbble"><a title="Dribbble" href="#"><i class="fa fa-dribbble"></i></a>
        </li>
        <li class="instagram"><a title="Instagram" href="#"><i class="fa fa-instagram"></i></a>
        </li>
    </ul>
</div>
<!-- Social Media Ends -->
<!-- Home Contact Starts -->
<div class="home-contact d-none d-sm-block">
    <p>
        Let's work together
        <a class="d-block" href="#">contact@daniel.net</a>
        <span>+216 21 184 010 32</span>
    </p>
</div>
<!-- Home Contact Ends -->
