<!-- Background Dotted Pattern Starts -->
<div class="right-dotted-shape"></div>
<!-- Background Dotted Pattern Ends -->
<!-- Home Main Content Starts -->
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="hero-section d-flex align-items-center justify-content-center">
                <div class="text-center">
                    <h2>{{ site.home.athor_name }}</h2>
                    <p>{{ site.home.description }}</p>
                    <div class="buttons">
                        <a id="link-about" href="#about" class="btn main-btn link-page"><span>{{ site.home.button_text }}</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Home Main Content Ends -->